/* I made these with https://pixelcorners.lukeb.co.uk */


.pixel-corners,
.pixel-corners--wrapper {
  clip-path: https://pixelcorners.lukeb.co.uk/?radius=12&multiplier=4&border=1&border_width=1&border_color=#9141acpolygon(0px calc(100% - 36px),
    4px calc(100% - 36px),
    4px calc(100% - 32px),
    4px calc(100% - 24px),
    8px calc(100% - 24px),
    8px calc(100% - 20px),
    12px calc(100% - 20px),
    12px calc(100% - 16px),
    16px calc(100% - 12px),
    20px calc(100% - 12px),
    20px calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 4px),
    32px calc(100% - 4px),
    36px calc(100% - 4px),
    36px 100%,
    calc(100% - 36px) 100%,
    calc(100% - 36px) calc(100% - 4px),
    calc(100% - 32px) calc(100% - 4px),
    calc(100% - 24px) calc(100% - 4px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 4px) calc(100% - 24px),
    calc(100% - 4px) calc(100% - 32px),
    calc(100% - 4px) calc(100% - 36px),
    100% calc(100% - 36px),
    100% 36px,
    calc(100% - 4px) 36px,
    calc(100% - 4px) 32px,
    calc(100% - 4px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) 20px,
    calc(100% - 12px) 20px,
    calc(100% - 12px) 16px,
    calc(100% - 16px) 12px,
    calc(100% - 20px) 12px,
    calc(100% - 20px) 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 4px,
    calc(100% - 32px) 4px,
    calc(100% - 36px) 4px,
    calc(100% - 36px) 0px,
    36px 0px,
    36px 4px,
    32px 4px,
    24px 4px,
    24px 8px,
    20px 8px,
    20px 12px,
    16px 12px,
    12px 16px,
    12px 20px,
    8px 20px,
    8px 24px,
    4px 24px,
    4px 32px,
    4px 36px,
    0px 36px);
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
  background: #9141ac;
  color:white;
  
}
/* .pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
} */
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 36px,
    8px 36px,
    8px 32px,
    8px 24px,
    12px 24px,
    12px 20px,
    16px 20px,
    16px 16px,
    20px 16px,
    20px 12px,
    24px 12px,
    24px 8px,
    32px 8px,
    36px 8px,
    36px 4px,
    calc(100% - 36px) 4px,
    calc(100% - 36px) 8px,
    calc(100% - 32px) 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 20px) 12px,
    calc(100% - 20px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 20px,
    calc(100% - 12px) 20px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) 32px,
    calc(100% - 8px) 36px,
    calc(100% - 4px) 36px,
    calc(100% - 4px) calc(100% - 36px),
    calc(100% - 8px) calc(100% - 36px),
    calc(100% - 8px) calc(100% - 32px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 16px) calc(100% - 20px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 20px) calc(100% - 16px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 32px) calc(100% - 8px),
    calc(100% - 36px) calc(100% - 8px),
    calc(100% - 36px) calc(100% - 4px),
    36px calc(100% - 4px),
    36px calc(100% - 8px),
    32px calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    20px calc(100% - 12px),
    20px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 20px),
    12px calc(100% - 20px),
    12px calc(100% - 24px),
    8px calc(100% - 24px),
    8px calc(100% - 32px),
    8px calc(100% - 36px),
    4px calc(100% - 36px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 36px),
    4px calc(100% - 36px),
    4px calc(100% - 32px),
    4px calc(100% - 24px),
    8px calc(100% - 24px),
    8px calc(100% - 20px),
    12px calc(100% - 20px),
    12px calc(100% - 16px),
    16px calc(100% - 12px),
    20px calc(100% - 12px),
    20px calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 4px),
    32px calc(100% - 4px),
    36px calc(100% - 4px),
    36px 100%,
    calc(100% - 36px) 100%,
    calc(100% - 36px) calc(100% - 4px),
    calc(100% - 32px) calc(100% - 4px),
    calc(100% - 24px) calc(100% - 4px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 4px) calc(100% - 24px),
    calc(100% - 4px) calc(100% - 32px),
    calc(100% - 4px) calc(100% - 36px),
    100% calc(100% - 36px),
    100% 36px,
    calc(100% - 4px) 36px,
    calc(100% - 4px) 32px,
    calc(100% - 4px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) 20px,
    calc(100% - 12px) 20px,
    calc(100% - 12px) 16px,
    calc(100% - 16px) 12px,
    calc(100% - 20px) 12px,
    calc(100% - 20px) 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 4px,
    calc(100% - 32px) 4px,
    calc(100% - 36px) 4px,
    calc(100% - 36px) 0px,
    36px 0px,
    36px 4px,
    32px 4px,
    24px 4px,
    24px 8px,
    20px 8px,
    20px 12px,
    16px 12px,
    12px 16px,
    12px 20px,
    8px 20px,
    8px 24px,
    4px 24px,
    4px 32px,
    4px 36px,
    0px 36px,
    0px 50%,
    4px 50%,
    4px 36px,
    8px 36px,
    8px 32px,
    8px 24px,
    12px 24px,
    12px 20px,
    16px 20px,
    16px 16px,
    20px 16px,
    20px 12px,
    24px 12px,
    24px 8px,
    32px 8px,
    36px 8px,
    36px 4px,
    calc(100% - 36px) 4px,
    calc(100% - 36px) 8px,
    calc(100% - 32px) 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 20px) 12px,
    calc(100% - 20px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 20px,
    calc(100% - 12px) 20px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) 32px,
    calc(100% - 8px) 36px,
    calc(100% - 4px) 36px,
    calc(100% - 4px) calc(100% - 36px),
    calc(100% - 8px) calc(100% - 36px),
    calc(100% - 8px) calc(100% - 32px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 16px) calc(100% - 20px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 20px) calc(100% - 16px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 32px) calc(100% - 8px),
    calc(100% - 36px) calc(100% - 8px),
    calc(100% - 36px) calc(100% - 4px),
    36px calc(100% - 4px),
    36px calc(100% - 8px),
    32px calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    20px calc(100% - 12px),
    20px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 20px),
    12px calc(100% - 20px),
    12px calc(100% - 24px),
    8px calc(100% - 24px),
    8px calc(100% - 32px),
    8px calc(100% - 36px),
    4px calc(100% - 36px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9141ac;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}
