*{
  box-sizing:border-box
}
body{
  margin:0;
  color:white;
  background-color:black;
}
header {
    display:flex;
    align-items:center;
    justify-content: space-between;
    color: white;
    padding: 25px 40px;
}
#cart {
  padding:12px 16px;
}
header h1 {
font-size: 2rem;
margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 26px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
}

a:hover {
    background: rgba(255, 255, 255, 0.25);
    cursor:crosshair;
}
.mainContainer{
      max-width:1300px;
      margin:32px auto;
      /* display:grid; */
      display:flex;
      align-items:stretch;
      gap:22px
}
#footer {
    color: white;
    text-align: center;
    padding: 18px;
    font-size: 1.1rem;
}
#heroImage {
      width: 100%;
      height:450px;
      background-size:contain;
      background-position: top center;
      background-repeat: no-repeat;
      margin-bottom: 24px;
}
.leftBar{
    flex: 0 0 250px;
    padding:24px;
    color:white;
    /* padding-top:20px; */
}
.leftBar h3{
      margin:0 0 16px;
      font-size:20px
}
.filter{
      margin-bottom:22px
}
.filter .title{
      display:flex;
      justify-content:space-between;
      align-items:center;
      font-weight:700;
      font-size:18px
}

.filter ul{
      list-style:none;
      padding:10px 0 0;
      margin:0
}
    
.filter li{
      padding:8px 0;
      color:#ddd
}

.checkbox{
      display:flex;
      align-items:center;
      gap:10px
}

.colorOption{
      width:18px;
      height:18px;
      display:inline-block;
      margin-right:10px;
      vertical-align:middle
}

.contentBox{
        flex:1;
      padding:26px;
      min-height:650px;
      color:white;
      /* background:#9141ac; */
}

.contentBox .header{
      display:flex;
      align-items:center;
      justify-content:space-between
}

.contentBox h1{
      margin:0;
      font-size:22px
}
.sort{
      display:flex;
      align-items:center;
      gap:10px
}
select{
      padding:10px 14px;
      border:2px solid white;
      border-radius:6px;
      background:black;
      color:white;
}

.results-row{
      display:flex;
      align-items:center;
      gap:16px;
      margin:16px 0
}

.clearBtn{
      padding:8px 12px;
      border:2px solid white;
      background:#9141ac;
      border-radius:4px;
      font-size:15px;
      color:white;
}

.grid{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      gap:26px;
      margin-top:16px
}
.thumbnail{
      width:100%;
      height:180px;
      border:2px solid white;
      display:flex;
      align-items:center;
      justify-content:center;
      background:#222;
}
.thumbnail img{
      max-width:90%;
      max-height:90%;
      object-fit:contain
}

.info{
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin-top:12px
}
.info .title{
      font-size:16px;
      color:white
}
.info .price{
      font-weight:700;
      color:white
}

.add{
      width:32px;
      height:32px;
      border:2px solid white;
      border-radius:4px;
      display:inline-flex;
      align-items:center;
      justify-content:center;
      background:#02223b;
      color:white;
}

/* SINGLE ITEM */
#singleItem {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      padding: 40px;
      max-width:1200px;
      margin:0 auto;
      color:white;
}
#singleImage img{
      width: 100%;
      height:100%;
      object-fit:contain;
}
#breadCrumb {
      list-style: none;
      display: flex;
      gap:12px;
      color:white;
}

#breadCrumb li:hover {
        background: rgba(255, 255, 255, 0);
}

#singleImage {
      width:100%;
      height:350px;
      background-size:cover;
      background-position:center;
      background-repeat:no-repeat;
      /* border: 2px solid white; */
}
.header #itemName {
      display:block;
      margin-top:12px;
}
.header #itemPrice {
      display:block;
      margin: 14px 0 24px;
}
#itemDesc{
      display:block;
      margin-bottom:12px;
}
#itemMat{
      display:block;
      margin-bottom:12px;
}
#itemQuant {
      width: 60px;
      padding:6px;
      margin-left:12px;
      border: 2px solid white;
      background:black;
      color:white;
}
#singleItem .title{
      display:block;
      font-weight:bold;
}
#singleItem .colorOption {
      display: inline-block;
      width: 28px;
      height: 28px;
}

#addToCart{
      display:inline-block;
      border: 4px solid white;
      padding:10px 18px;
      color:white;
}

/* CART */
#cartBox{
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap:34px;
      padding:22px;
      color:white;
}
#cartScroller {
      max-height:280px;
      overflow-y:auto;
      margin-top:12px;
}

#cartTable{
      width:100%;
      margin-top: 12px;
      border-collapse:collapse;
      color:white;
}
#cartTable th {
      text-align:center;
      padding:12px;
      border-bottom:2px solid white;
      font-weight:bold;
}
#cartTable td{
      text-align:center;
      vertical-align:middle;
      border-bottom: 1px solid white;
}
#cartTable td:last-child {
      text-align:right;
}
#shipping, #summary{
      padding: 14px;
      color:white;
      /* background:#9141ac; */
}
#shipping h2{
      font-size: 18px;
}
#shipping select{
      margin:12px;
      padding:10px;
      border:2px solid white;
      color:white;
      background:black;
}
#summary h2 {
      font-size: 18px;
}
#summary span {
      display:flex;
      justify-content: space-between;
      margin:10px 0;
      font-weight:bold;
}
#cartBottom{
      display:grid;
      grid-template-columns:1fr 1fr;
      gap:32px;
      color:white;
}

#snackBar {
      visibility: hidden;
      min-width: 280px;
      margin-left: -140px;
      background-color: #222; 
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);  
      color: #fff; 
      text-align: center; 
      border-radius: 12px;
      padding: 18px; 
      position: fixed;
      z-index: 3; 
      left: 50%;
      top: 40px;
      font-size:1.1rem;
}
#snackBar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#closeBtn{
  color:#ffffff;
  float:right;
  font-size: 2.2rem;
  border:2px solid white;
  padding:4px;
}

#aboutModal {
  display:none;
  position: fixed;
  z-index:5;
  width:75%;
  height: 75%;
  left:12%;
  top:6%;
  overflow:auto;
  background-color: rgba(0,0,0,0.6);
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
  color:white;
  font-size: 1.7rem;
  padding:45px;
}




/* MEDIA */
@media (max-width:900px){
    .mainContainer{
      grid-template-columns:200px 1fr;
    } 
    .grid{
      grid-template-columns:repeat(2,1fr)
    }
}
@media (max-width:600px){
    .mainContainer{
      grid-template-columns:1fr
    } 
    .leftBar{
      order:2
    } 
    .grid{
      grid-template-columns:repeat(1,1fr)
    }
}
